.recommend-input {
    position: relative;
    &__con {
        z-index: 1;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #fff;
        &--hide{
            display:none;
        }
    }
    &__list {
        display: flex;
        align-items: center;
        height: 30px;
    }
}
