.recommend-input {
    position: relative;
    &__con {
        z-index: 1;
        position: absolute;
        top: 100%;
        left: 0;
        padding:10px 0;
        width: 100%;
        background: #fff;
        border-radius:4px;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
        &--hide{
            display:none;
        }
    }
    &__list {
        padding:5px;
        display: flex;
        align-items: center;
        height: 40px;
        &:active{
            background:rgba(0, 0, 0, 0.1);
        }
    }
}
