$btn-prefix: "btn";
.#{$btn-prefix} {
    padding: 0 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 180px;
    min-height: 36px;
    border: 1px solid #d0d9e4;
    border-radius: 2px;
    background: #fff;
    &:focus {
        outline: none;
    }
    &--hide {
        display: none;
    }
    &--icon-only {
        padding: 0;
        min-width: auto;
        width: 36px;
        height: 36px;
        border: none;
        background: transparent;
        font-size: 24px;
        &.#{$btn-prefix}--lg {
            width: 48px;
        }
        &.#{$btn-prefix}--default {
            background: #fff;
            border: 1px solid #d0d9e4;
            border-radius: 50%;
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        }
    }
    &--flex{
        min-width:unset;
        flex:1;
    }
    &--block {
        margin: 0 auto 10px;
        display: block;
        width: 100%;
        max-width: 420px;
    }
    &--fixed {
        position: fixed;
        bottom: 40px;
        right: 20px;
    }
    &--primary {
        background: hsl(204, 100%, 63%);
        color: #fff;
    }
    &--link {
        background: transparent;
        text-decoration: underline;
        border: none;
    }
    &--circle {
        border-radius: 50%;
    }
    &--lg {
        min-height: 48px;
        font-size: 30px;
    }
}
