.header {
    z-index: 9999;
    transition: transform 0.3s;
    margin-bottom: 20px;
    padding: 16px 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    flex: none;
    &--hide {
        transform: translate(0, -100%);
    }
    &--no-margin {
        margin: 0;
    }
}
.header__title {
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    color: #070707;
}
