.header {
    z-index: 9999;
    transition: transform 0.3s;
    position:relative;
    margin-bottom: 20px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex: none;
    background:#fbfbfb;
    &--hide {
        transform: translate(0, -100%);
    }
    &--no-margin {
        margin: 0;
    }
    &__prefix{
        display:flex;
        align-items: center;
        justify-content:flex-start;

        flex:1;
    }
    &__title {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 20px;
        font-weight: 700;
        color: #070707;
        word-break:keep-all;
        &--center{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
