.input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-size: 18px;
    &--readOnly {
        background: rgb(214, 214, 214);
    }
    &__btn-eye {
        z-index: 9;
        position: absolute;
        top: 50%;
        right: 5px;
        transform: translate(0, -50%);
    }
}
.input-wrap {
    position: relative;
    height: 36px;
}
