.input {
    appearance:none;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-size: 18px;
    &::-webkit-search-cancel-button{
        display:none;
    }
    &--readOnly {
        background: rgb(231, 229, 229);
    }
    &__btn {
        z-index: 9;
        position: absolute;
        top: 50%;
        right: 5px;
        transform: translate(0, -50%);
    }
}
.input-wrap {
    position: relative;
    height: 36px;
}
