@import "/styles/themes/index";
@import "/styles/mixins/index";

@each $theme-name in $theme-obj {
    @include pub-color($theme-name);
    .#{$theme-name}-#{$account-card-prefix-cls} {
        position: relative;
        padding: 16px;
        width: 100%;
        border-radius: 4px;
        border: none;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        background: #f3f5f7;
        word-break: keep-all;
        &__header {
            display: flex;
            align-items: center;
            gap: 10px;
            color: #4b4b4b;
        }
        &__title {
            flex: 1;
            font-size: 24px;
        }
        &__con {
            overflow: hidden;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
