.account-card {
    position: relative;
    width: 100%;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    background: #f3f5f7;
    word-break: keep-all;
    &:before{
        content:"";
        opacity:0;
        position:absolute;
        top:0;
        left:50%;
        transform: translate(-50%,-6px);
        display: block;
        width:80%;
        height:2px;
        background: #fabd78;
    }
    &--drag-hover:before{
        opacity:1;
    }
    &--drag-hover-last:before{
        opacity:1;
        top:100%;
        transform: translate(-50%,6px);
    }
    &__header {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #4b4b4b;
        &--ghost {
            opacity: 0.2;
        }
    }
    &__title {
        font-size: 26px;
    }
    &__con {
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 0;
        transition: height 0.3s, padding 0s 0.2s;
        &--show {
            transition: height 0.3s;
            padding: 10px;
            height: 120px;
        }
    }
}
